@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
   
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
   
}
@font-face{
    font-family:'Roboto-Thin' ;
    src:url(../fonts/Roboto/Roboto-Thin.ttf);
}
.wrapper{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
h1,h2,h3,h4,h5{
 font-family: 'Roboto-Bold', sans-serif;
}
p{
    font-family: 'Roboto-Light', sans-serif;
}
a{
    text-decoration: none;
    font-family: 'Roboto-Regular', sans-serif;
}
.container{
    max-width: 1200px;
    padding: 0px 15px;
    margin: auto;
}

.header{

    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;

 
}
.header__nav{
    position: fixed;
    right: 0;
    height: 92vh;
    top: 8vh;
    background: #356EAD;
    border-radius: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    z-index: 99;
    transform: translateX(100%);
    transition: 0.5s all ease-in-out;
   
}
.header-active{
    transform: translateX(0);
   
}
.header__list li{
    margin-bottom: 50px;
}
.header__list{
    margin-top: 40px;
    width: 60%;
}
.nav__list{
    opacity: 0;
}
.header__nav a {
    color: #ffff;
    font-weight: 500;
    font-size: 30px;
    transition: 0.2s all ease;
    cursor: pointer;
}
.header__nav a:hover{
    opacity: 0.9;
}

.burger__menu{
    cursor: pointer;
}
.burger__menu div{
    width: 32px;
    height: 3px;
    background: #356EAD;
    margin: 5px;

    transition: .5s all ease-in-out;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);

}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.inner{
    margin-top: 45px;
    margin-bottom: 180px;
    background: linear-gradient(0deg, #aed3f3 8.84%, rgba(152, 195, 232, 0) 50.12%);
}
.inner__items{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 180px;
}
.inner__item{
    width: 50%;
}
.inner__title{
    font-size: 63px;
    line-height: 116%;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}
.inner__suptitle{
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 70px;
    max-width: 450px;
}
.inner__link{
    width: 220px;
    height: 56px;
    background: #5A98D0;
    font-size: 16px;
    line-height:  162%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s all ease;
}
.inner__link:hover{
    opacity: 0.9;
    font-size: 16.5px;
}
.inner__item img{
    position: absolute;
    top: -30px;
    right: 0px;
}

/* ABOUT */
.about{
    /* position: relative; */
}
.title__about{
    font-size: 36px;
    line-height: 128%;
    letter-spacing: 0.05em;
    color: #316099;
    max-width: 358px;
    margin-bottom: 160px;
    margin-block-start: 0;
}

.about__card{
    max-width: 380px;
    /* -webkit-box-shadow: 0px 1px 17px 9px rgba(0,0,0,0.14); 
   box-shadow: 0px 1px 17px 9px rgba(0,0,0,0.14); */
   box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
   border-radius: 10px;
}
.about__card-contant{
    margin: auto;
    padding: 48px;
    position: relative;
}
.about__card-contant img{
    margin: auto;

}
.about__card-title{
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin: 15px 0px 50px;
}
.about__card-title{
    font-size: 16px;
    line-height:162%;
    letter-spacing: 0.05em;
    color: #1F3F68;
    /* opacity: 0.6; */
    margin-bottom: 30px;

}

.about__card-link{
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.05em;
    color: #5A98D0;
    position: relative;
    transition: 0.2s all ease;
}
.about__card-link:hover{
    font-size: 14.5px;
    opacity: 0.9;
}
.about__card-link::after{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-top: 2px solid #5A98D0;
    border-left: 2px solid #5A98D0;
    top: 15%;
    right: -50%;
    transform: rotate(135deg);
}
.about__card-link::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background:#5A98D0 ;
    top: 34.8%;
    right: -50%;
}

.about__items{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* position: absolute;
    top: 0; */
}
.about__card{
    margin-bottom: 100px;
}

/* ABOUT END */

/* PROJECT */
  .project__conte{
      display: flex;
      justify-content: space-between;
    }
    .project__title{
        font-size: 36px;
        line-height: 128%;
        letter-spacing: 0.05em;
        color: #1F3F68;
        width: 227px;
        z-index: 2;
    }
    .project__subtitle{
        width: 50%;
        font-size: 16px;
        line-height: 162%;
        letter-spacing: 0.05em;
        color: #1F3F68;
        opacity: 0.6;
        z-index: 2;
    }
    .project__bunner{
        margin-top: 100px;
        background: url('../img/project-bunner.jpg') no-repeat center;
        background-size: cover;
        background-position: initial;
        border-radius: 10px;
        height: 532px;
        width: 100%;
        z-index: 1;
        position: relative;
        justify-content: space-between;
        
    }
    .project__content{
       
        position: absolute;
        right: 10%;
        top: 30px;
    }
    .project__bunner-title{
        font-size: 28px;
        line-height: 164%;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin-bottom: 8px;
    }
    .project__bunner-suptitle{
        font-size: 16px;
        /* line-height: 287%; */
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.8;
    }
    .project__items{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;

    }
    .project__item{
        padding-left: 32px;
    }
    .project__sparklite{
        background: url('../img/sparklite.jpg') no-repeat ;
        background-size: cover;
        background-position: initial;
        border-radius: 10px;
        width: 422px;
        height: 417px;
    }
    .project__car{
        background:  url('../img/car.jpg') no-repeat;
        background-size: cover;
        background-position: initial;
        border-radius: 10px;
        width: 422px;
        height: 417px;
   
    }
/* PROJECT END */

/* CLIENT */
.client{
    margin-top: 180px;
    padding-top: 95px;
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
}
.client__content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}
.client__title{
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-block-start: 0;
    width: 223px;
}
.client__suptitle{
    font-size: 16px;
    line-height: 162% ;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    width: 42%;
}
.brang__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding-bottom: 100px;
}
.brang__items::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    top: 39%;
}
.brang__item{
   
    width: 24%;
    padding: 50px 0px;
    text-align: center;
     transition: 0.2s all ease;
}
.brang__item:nth-child(n+1){
    border-right: 1px solid #FFFFFF;  
}
.brang__item:hover{
    cursor: pointer;
    opacity: 0.8;
    font-size: 20.5px;
}

.brand__link{
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #F2F2F2;
}


/* CLIENT END */

/* FOOTER */
.footer{
    
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    margin-right: 6%;
    padding: 90px 0px 60px;
}
.footer__top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 95px;
    border-bottom: 1px solid #FFFFFF;

}
.footer__content-text{
    width: 50%;
}
.footer__title{
    width: 317px;
    font-size: 36px;
    line-height: 128%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer__suptitle{
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
   
}
.footer__link{
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 220px;
    height: 56px;
    background: #5A98D0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all ease;
}
.footer__link:hover{
    opacity: 0.9;
    font-size: 16.5px;
}

.footer__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 95px;
    margin-bottom: 50px;
    
}

.footer__item{
    display: flex;
    flex-direction: column;
    padding: 0px 15px

}
.footer__item-title{
    font-family: 'Roboto-Light';
    font-size: 28px;
    line-height:164%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
   
}
.footer__item  a {
    font-family:'Roboto-Thin' , sans-serif ;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s all ease;

}
.footer__item  a:hover{
    opacity: 0.9;
}
.footer__item-suptitel{
    font-family:'Roboto-Thin' , sans-serif ;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
    width: 264px;
    color: #FFFFFF;
}
.reserved{
 
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.2s all ease;
}
.reserved:hover{
    opacity: 0.9;
}

/* FOOTER END  */

/* BLOG PAGE */
.blog__inner{
    background: url('../img/bg.jpg') no-repeat center;
    background-size: cover;
    padding: 50px 0px;
}
.blog__content{
    max-width: 780px;

}

.blog__title{
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 168%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;   
}
.blog__subtitle{
    font-size: 20px;
    line-height: 150% ;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.4);
}

.form-search{
    margin: 56px 0px;
    transition: .2s all ease-in-out;
}
.search__block{
    position: relative;
    display: flex;
    min-width: 100px;
    transition: .2s all ease-in-out;
  }
  
  .search {
    border: none;
    height: 56px;
    width: 100%;
    padding: 0px 47px 0px 60px;
    outline: 0;
    background: #F4F4F4;
    border-radius: 10px;
    transition: .2s all ease-in-out;
  }
  .search::placeholder{
    font-family: 'Roboto-Regular',sans-serif;
    font-size: 16px;
  
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 3.5%;
    width: 17px;
    transform: translate(-50%, -50%);
  }
  
  .clear-icon {
    position: absolute;
    cursor: pointer;
    visibility: hidden;
    top: 50%;
    right: 2.5%;
    width: 17px;
    transform: translate(-50%, -50%);
  }
  
  .search:hover, .search:focus {
    border: 1px solid #009688;
    background-color: white;
  }
.blog__link{
    display: block;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #356EAD;
    opacity: 0.8;
    margin-bottom: 32px;
}
.blog__items{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 32px;

}
.blog__item{
    width: 50%;
}
.blog__item-title a{
    cursor: pointer;
    font-size: 48px;
    line-height: 121%;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}
.blog__item-subtitle{
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.04em;
    color: #000000;
    opacity: 0.6;
}

.blog-footer{
    display: flex;
    align-items: center;
    position: absolute;
    /* bottom: 0; */
    width: 50%;
    margin: 50px 0px;
}
.blog__footer-title a{
    font-size: 14px;
    /* line-height: 171%; */
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.blog__footer-subtitle{
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.4;
}

.blog__footer-item{
    margin-right: 20%;
}
.blog__footer-img{
    display: flex;
    /* height: 24px; */
}
.blog__footer-img img{
    margin-right: 32px;
}
.blog__cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.blog__card{
    width: 24%;
}
.blog__cards .blog-footer{
    bottom: inherit;
    position: inherit;
    width: 100%;
    justify-content: space-between;
}
.blog__card-title a{
    font-size: 22px;
    line-height: 136% ;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.blog__link-right{
    text-align: end;

}
.article__content .blog__items{
    justify-content: inherit;
}
.article__content .blog__item-title a{
    font-size: 25px;
}
.blog__item-article{
    width: 70%;
    max-width: 600px;
    margin-left: 20px;
}
.blog__item-article .blog-footer{
    position: inherit;
}
.nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}
.nav a{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #356EAD;
}
.new{
    position: relative;
    padding-left: 50px;
}
.new::after{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-top: 2px solid #5A98D0;
    border-left: 2px solid #5A98D0;
    top: 30%;
    left: 10%;
    transform: rotate(-45deg);
}
.new::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background: #5A98D0;
    top: 48.5%;
    left: 11%;
}
.new{
    position: relative;
    padding-left: 50px;
}
.new::after{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-top: 2px solid #5A98D0;
    border-left: 2px solid #5A98D0;
    top: 30%;
    left: 10%;
    transform: rotate(-45deg);
}
.new::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background: #5A98D0;
    top: 48.5%;
    left: 11%;
}.old{
    position: relative;
    padding-right: 50px;
}
.old::after{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-top: 2px solid #5A98D0;
    border-left: 2px solid #5A98D0;
    top: 30%;
    right: 10%;
    transform: rotate(135deg);
}
.old::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background: #5A98D0;
    top: 48.5%;
    right: 11%;
}
.article{
    margin: 50px 0px;
}
.article__content{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 60px;
}
/* BLOG PAGE AND */

/* CONTACT */
.contacts{
    margin: 60px 0px 95px;

}
.contacts__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts__img{
    margin-bottom: 70px;
}
.contact__title{
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.contacts__item .contact__title{
    margin-bottom: 24px;
}
.contacts__item  .contact__subtitle{
    margin-bottom: 40px;
}
.contact__subtitle{
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.contact__links{
    display: flex; 
    align-items: flex-start;  
}
.contact__block{
    margin-bottom: 40px;
}
.contact__links img{
    margin-right: 15px;
}

.contact__links a{
    font-size: 16px;
    line-height:162%;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 15px;
}
.contacts__item-form{
    width: 60%;
}
.form__contact{
    /* -webkit-box-shadow: 0px 1px 17px 9px rgb(0 0 0 / 14%); */
    /* box-shadow: 0px 1px 17px 9px rgb(0 0 0 / 14%); */
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.form__content{
    padding: 56px;
}
.form__content .contact__title{
    margin-bottom: 48px;
}
.form__input {
    display: flex;
    flex-direction: column;
}
.form__input label{
    font-family: 'Roboto-Regular', sans-serif;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}
.form__input input,
.form__input textarea{
    background: #FFFFFF;
    /* box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2); */
    border: 1px solid #356EAD;
    border-radius: 10px;
    outline: none;
}
.form__input-style::placeholder{
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    padding-left: 40px;
}
.form__textarea::placeholder{
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    padding-left: 40px;
    padding-top: 25px; 
}
.form__input input{
    height: 70px;
    margin-bottom: 32px;
}
.form__input textarea{
    resize: none;
    margin-bottom: 70px;
}
.form__button{
    
    display: block;
    margin: auto;
    width: 100%;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    border: transparent;
    outline: none;
    color: #ffff;
    font-size: 16px;
    font-family: 'Roboto-Regular',sans-serif;

}
/* CONTACT END */


@media screen and (max-width:1024px) {
    .inner__items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 580px;
    }
    .inner__item {
        width: 90%;
    }
    .inner__item img {
        position: absolute;
        bottom: 0px;
        top: inherit;
        
    }
    .blog__cards {
       flex-wrap: wrap;
    }
    .blog__card{
        width: 45%;
        margin-bottom: 40px;
    }
    .blog__card img{
        width: 100%;
    }

}

@media screen and (max-width:880px){
    

    .inner {
        margin-top: 20px;
        margin-bottom: 80px;
        
    }
    .about__items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about__card {
        margin: auto;
        margin-bottom: 60px;
    }
    .title__about {
        width: 90%;
        text-align: center;
        margin-bottom: 80px;
    }
    .inner__title {
        font-size: 50px;
        
    }
    .project__items {
        margin-top: 80px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project__sparklite {
        margin-bottom: 50px;
    }
    .client__content {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
       
    }
    .client__title {
        width: 90%;
        text-align: center;
    }
    .client__suptitle {
        width: 75%;
    }
    .client {
        margin-top: 120px;
        padding-top: 80px;
    }
    .brand__link {
        font-size: 16px;
        line-height: 40px;
    }
    .blog .blog__items{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 120px;
    }
    .blog__item {
        width: 100%;
    }
    .blog-footer {
        /* bottom: inherit; */
        width: 100%;
        margin: 30px 0px;
    }
    .blog__img{
        margin-bottom: 40px;
    }
    .blog__item-title a{
        font-size: 40px;
    }
    .contacts__items{
        flex-direction: column;
    }
    .contacts__item-form {
        width: 100%;
    }

}
@media screen and (max-width:650px){
    .header__nav {
        width: 95%;
    }
    .inner__title {
        font-size: 45px;
    }
    .inner__suptitle {
        margin-bottom: 50px;
    }
    .inner__link {
        width: 250px;
        height: 60px;
    }
    .inner__items {
        padding-bottom: 480px;
    }
    .title__about {
        font-size: 30px;
        margin-bottom: 50px;
        /* margin: auto  ; */
    }
    .project__conte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        text-align: center;
    }
    .project__title {
        font-size: 30px;
        width: 100%;
    }
    .project__subtitle {
        width: 100%;
    }
    .project__bunner {
        margin-top: 60px;
    }
    .project__bunner-title {
        font-size: 22px;
    }
    .footer__top-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer__title {
        width: 100%;
        font-size: 30px;
    }
    .footer__suptitle {
        margin-bottom: 50px;
    }
    .footer__content-text{
        width: 100%;
    }
    .footer__link {
        width: 250px;
        height: 60px;
    }
    .footer__top-content {
        padding-bottom: 80px;
    }
    .footer__suptitle {
        width: 100%;
    }
    .footer__items {
        margin-top: 75px;
    }
    .footer__item-title {
        font-size: 20px;
    }
    .brang__item {
        width: 49.8%;
        border-bottom: 1px solid #fff;
    }
    .brang__item:nth-child(7){
        border-bottom: none;
    }
    .brang__item:nth-child(8){
        border-bottom: none;
    }
    .brang__items::after{
        display: none;
    }
    .blog__card{
        width: 100%;
    }
    .blog__card img{
        margin-bottom: 30px;
    }
    .article .blog__items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog__img {
        margin-bottom: 40px;
    }
    .blog__item-article {
        width: 100%;
        margin-left: 0px;
    }
    .blog__footer-item {
        margin-right: 50%;
    }
    .contacts__item .contact__title {
        margin-bottom: 22px;
    }
    .contacts__item .contact__subtitle {
        margin-bottom: 25px;
    }
    .contact__links a {
        font-size: 14px;
    }
    .form__input input {
        height: 50px;
        margin-bottom: 25px;
    }
    .form__content .contact__title {
        margin-bottom: 35px;
    }
    .form__input label {
        margin-bottom: 5px;
    }
    .form__input-style::placeholder {
        font-size: 14px;
        padding-left: 16px;
    }
    .form__textarea::placeholder {
        font-size: 14px;
        padding-left: 16px;
        padding-top: 20px;
    }
    .form__input textarea {
        margin-bottom: 50px;
      
    }
    .form__button {   
        height: 55px;
    }

}
@media screen and (max-width:524px){
    header{
        padding: 0px 15px!important;
    }
    .brang__item:nth-child(n+1){
        border-right:none;
    }
    .brang__item {
        width: 100%;
    }
    .brang__item:nth-child(7){
        border-bottom: 1px solid #fff;
    }
    .blog__title {
        font-size: 35px;
    }
    .blog__subtitle {
        font-size: 16px;
    }
    .blog__link {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .blog__item-title a {
        font-size: 22px;
        margin-bottom: 25px;
        cursor: pointer;
    }
    .blog__item-subtitle {
        font-size: 14px;
    }
    .blog__cards {
        margin-bottom: 5px;
    }
    .article__content .blog__item-title a {
        font-size: 22px;
        cursor: pointer;
    }
    .blog__footer-item {
        margin-right: 35%;
    }

}
@media screen and (max-width:429px){
   
    .header__nav {
        width: 100%;
    }
    .inner__title {
        font-size: 32px;
    }
    .inner__items {
        padding-bottom: 340px;
    }
    .inner__item {
        width: 100%;
    }
    .title__about {
        font-size: 22px;
    }
    .inner {
        margin-bottom: 50px;
    }
    .about__card {
        max-width: 380px;
    }
    .about__card-contant {
        padding: 20px;
    }
    .project__bunner,
    .project__sparklite,
    .project__car{
        height: 372px;
    }
    .project__content{
        right: 1%;
    }
    .project__items{
        margin-top: 50px;
    }
    .client {
        border-radius: 100px 0px 0px 0px;
    }
    
    .client__title {
        width: 100%;
        font-size: 30px;
    }
    .client__suptitle {
        width: 100%;
        text-align: center;
    }
    
    .client__content  {
        padding-bottom: 25px;
    }
    .brang__items {
        padding-bottom: 50px;
    }
    .footer {
        border-radius: 0px 100px 0px 0px;
        margin-right: 0%;
        padding: 75px 0px 60px;
    }
    .footer__item-title {
        font-size: 18px;
    }
}